name: MOTIVOO PR Builder

on:
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/buildSrc/**/*.kt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Change gradlew permissions
        run: chmod +x ./gradlew

      - name: Create google-services.json
        env:
          FIREBASE_SECRET: ${{ secrets.FIREBASE_SECRET }}
        run: echo $FIREBASE_SECRET > app/google-services.json

      - name: Access BASE_URL
        env:
          HFM_BASE_URL: ${{ secrets.BASE_URL }}
        run: echo "base_url=\"$base_url\"" >> local.properties

      - name: Access KAKAO_NATIVE_APP_KEY
        env:
           KAKAO_APP_KEY: ${{ secrets.KAKAO_APP_KEY }}
        run: echo KAKAO_APP_KEY=$KAKAO_APP_KEY >> local.properties

      - name: Access FIREBASE_REALTIME_DATABASE
        env:
           FIREBASE_RULE_UID: ${{ secrets.FIREBASE_RULE_UID }}
        run: echo "firebase_rule_uid=${FIREBASE_RULE_UID}" >> local.properties

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Touch local properties
        run: touch local.properties

      - name: Lint Check
        run: ./gradlew ktlintCheck -PcompileSdkVersion=34

      - name: Build with Gradle
        run: ./gradlew build -PcompileSdkVersion=34

      - name: On Success!! Congratulations
        if: ${{ success() }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: '#4AC3BE'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_TITLE: 'MOTIVOO/PR Check S.U.C.C.E.S.S π‰π‰π‰'
          MSG_MINIMAL: true
          SLACK_USERNAME: MOTIVOO-AOS
          SLACK_MESSAGE: 'PRμ΄ μ™„λ£λμ—μµλ‹λ‹¤!!! π‰π‰π‰'

      - name: On Failed, Notify in Slack
        if: ${{ failure() }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: '#ff0000'
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_TITLE: 'MOTIVOO/Android Debug build Failβ'
          MSG_MINIMAL: true
          SLACK_USERNAME: MOTIVOO-AOS
          SLACK_MESSAGE: 'μ—λ¬λ¥Ό ν™•μΈν•μ„Έμ”'
